<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Infiel Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fuente moderna -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="top-bar"></div>

<header>
    <h1>Infiel Detection</h1>
</header>

<section class="hero">
    <h2>Somos un grupo altamente confiable y totalmente discreto</h2>
</section>

<section class="planes">

    <div class="card">
        <h3>Seguimiento de cuenta privada</h3>
        <p class="precio">S/ 5</p>
    </div>

    <div class="card">
        <h3>Detección de infieles</h3>
        <p class="precio">S/ 10</p>
        <p class="desc">Disponible para hombre o mujer</p>
    </div>

</section>

<footer>
    <p>La confidencialidad de nuestros clientes es nuestro pilar</p>
</footer>

<!-- Botón WhatsApp -->
<a href="https://wa.me/51907266472" class="whatsapp" target="_blank">
    💬
</a>

</body>
</html>